ul {
  list-style-type: none;
}

section {
  padding: 40px 40px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
}

/*Ticket styling*/
.ticketTitle {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.ticketImg {
  position: relative;
  top: -50px;
  width: 120px;
  height: 450px;
}

#img2 {
  transform: scaleX(-1);
}

li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

#dateTop {
  font-size: 15px;
}

.ticket {
  text-align: center;
  font-size: 20px;
  width: 816px;
  height: 528px;
}

.line * {
  position: relative;
  left: -5px;
  padding-left: 42px;
  padding-right: 42px;
}

.grid {
  position: relative;
  left: 110px;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 10px;
  text-align: center;
}

.botGrid {
  position: relative;
  left: 30px;
  top: 10px;
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 20px;
}

.textBottom {
  font-size: 15px;
  text-align: center;
  padding-top: 25px;
  position: absolute;
  top: 500px;
  left: 300px;
}

#ticket2 {
  visibility: hidden;
  position: absolute;
}

/*Printing styling*/
@media print {
  body * {
    visibility: hidden;
  }
  .ticket * {
    visibility: visible;
  }
  .ticket {
    position: absolute;
    border: none;
    top: -30px;
    left: -50px;
  }
  .textBottom {
    top: 370px;
    left: 287px;
  }
  #ticket2 {
    top: 465px;
  }
  #img1 {
    position: absolute;
    left: 50px;
  }
  #img2 {
    position: absolute;
    right: 50px;
  }
  .modal-buttons {
    display: none;
  }
}
