{% extends "base.html" %}
{% block head %}
<title>Select Event</title>
{% endblock %}
{% block content %}

<nav class="bg-white shadow-md px-4 py-3 fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto">
    <div class="flex justify-end">
      <div class="hidden md:flex space-x-6" id="nav-menu">
        <a href="/event/selection" class="text-gray-700 hover:text-blue-600">Event Selection</a>
        <a href="/ticket/info" class="text-gray-700 hover:text-blue-600">Cashier</a>
        <a href="/admin/operations" class="text-gray-700 hover:text-blue-600">Operations</a>
      </div>
    </div>
  </div>
</nav>

{% set card_content %}
  <div class="overflow-x-auto">
    <table class="min-w-full bg-background-card border border-border rounded">
      <thead>
        <tr class="bg-background-card">
          <th class="py-2 px-4 border-b">Event ID</th>
          <th class="py-2 px-4 border-b">Event Name</th>
          <th class="py-2 px-4 border-b">Location</th>
          <th class="py-2 px-4 border-b">Start Date</th>
          <th class="py-2 px-4 border-b">End Date</th>
          <th class="py-2 px-4 border-b">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          <td>{{ event.event_id }}</td>
          <td>{{ event.event_name }}</td>
          <td>{{ event.location }}</td>
          <td>{{ event.start_date }}</td>
          <td>{{ event.end_date }}</td>
          <td class="flex gap-2">
            {% set text = "Manage Races" %}
            {% set href = "/admin/event/races/manage?eventId=" ~ event.event_id %}
            {% include "components/button.html" %}
          </td>
        </tr>
        {% else %}
        <tr>
          <td colspan="6" class="text-center py-4">No ongoing events.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id="errorMessage" class="text-red-600 mb-3"></div>
  <div class="flex justify-center">
  {% set type = "button" %}
  {% set text = "Add Event" %}
  {% set extra_classes = "mb-4 w-60" %}
  {% include "components/button.html" %}
  </div>

{% endset %}

{% set title = "Select Event" %}
{% set content = card_content %}
{% include "components/card.html" %}
{% endblock %}