{% extends "base.html" %} {% block head %}
<title>Ticket Redemption</title>
<script type="module" src="/static/js/cashier.js" defer></script>
{% endblock %} {% block content %}
<section id="header">
  <div class="container-lg">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-3 text-center text-md-start">
        <h1>
          <div class="display-3">Ticket Redemption</div>
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <form class="row g-2 align-items-center">
        <div class="col-auto">
          <label for="referenceNum" class="col-form-label"
            >Reference Number:</label
          >
        </div>
        <div class="col-auto">
          <input
            type="text"
            id="referenceNum"
            class="form-control"
            placeholder="Enter Reference Number"
          />
        </div>
        <div class="col-auto">
          <button type="button" id="redeemBtn" class="btn btn-secondary">
            Redeem
          </button>
        </div>
        <div class="col-auto">
          <button type="button" id="refundBtn" class="btn btn-secondary">
            Refund
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="errorMessage" style="color: red; margin-top: 10px"></div>
<div id="result"></div>
{% endblock %}
