{% extends "base.html" %} {% block head %}
<title>Ticket Redemption</title>
<script type="module" src="/static/js/cashier.js"></script>
{% endblock %} {% block content %}
    {% set card_content %}
    <form class="flex flex-col sm:flex-row items-end gap-4 mb-4">
      <div>
      <label for="referenceNum" class="text-gray-700 font-semibold"
        >Reference Number:</label
      >
      {% set id = "referenceNum" %}
      {% set placeholder = "Reference Number" %}
      {% include "components/input.html" %}
      </div>
      <div class="flex gap-2">
        {% set id = "redeemBtn" %}
        {% set text = "Redeem" %}
        {% include "components/button.html" %}
        {% set id = "refundBtn" %}
        {% set text = "Refund" %}
        {% include "components/button.html" %}
      </div>
    </form>
    <div id="errorMessage" class="text-red-600 mb-2"></div>
    <div id="result"></div>
  {% endset %}
  {% set title = "Ticket Redemption" %}
  {% set content = card_content %}
  {% include "components/card.html" %}
{% endblock %}
