{% extends "base.html" %}

{% block head %}
  <title>Select Event</title>
  <script type="module" src="/static/js/eventSelection.js"></script>
{% endblock %}

{% block content %}
  {% set card_content %}
    {% set id = "eventDropdown" %}
    {% include "components/select.html" %}

    {% set type = "button" %}
    {% set text = "Select" %}
    {% set id = "eventBtn" %}
    {% include "components/button.html" %}
  {% endset %}

  {% set title = "Select Event" %}
  {% set content = card_content %}
  {% include "components/card.html" %}
{% endblock %}