{% extends "base.html" %} {% block head %}
<title>Add Event</title>
<script type="module" src="/static/js/eventAdd.js"></script>
{% endblock %} {% block content %}
  {% set card_content %}
    <div id="errorMessage" class="text-red-600 mb-3"></div>
    <div id="successMessage" class="text-green-600 mb-3"></div>
    <form id="addEventForm" class="space-y-4">
      <div>
        {% set for = "eventName" %}
        {% set text = "Event Name" %}
        {% set required = true %}
        {% include "components/label.html" %}

        {% set id = "eventName" %}
        {% set placeholder = "Event Name" %}
        {% set required = true %}
        {% include "components/input.html" %}
      </div>
      <div>
        {% set for = "location" %}
        {% set text = "Location" %}
        {% include "components/label.html" %}

        {% set id = "location" %}
        {% set placeholder = "Location" %}
        {% set required = true %}
        {% include "components/input.html" %}
      </div>
      <div class="flex gap-4">
        <div class="flex-1">
          {% set for = "startDate" %}
          {% set text = "Start Date" %}
          {% include "components/label.html" %}

          {% set type = "date" %}
          {% set id = "startDate" %}
          {% set placeholder = "Start Date" %}
          {% set required = true %}
          {% include "components/input.html" %}
        </div>
        <div class="flex-1">
          {% set for = "endDate" %}
          {% set text = "End Date" %}
          {% include "components/label.html" %}

          {% set type = "date" %}
          {% set id = "endDate" %}
          {% set placeholder = "End Date" %}
          {% set required = true %}
          {% include "components/input.html" %}
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <!-- Is this what we want? -->
        {% set type = "submit" %}
        {% set text = "Save Event" %}
        {% include "components/button.html" %}

        {% set href = "/admin/operations" %}
        {% set text = "Back to Events" %}
        {% include "components/button.html" %}
      </div>
    </form>
    {% endset %}
    {% set title = "Add Event" %}
    {% set content = card_content %}
    {% include "components/card.html" %}
{% endblock %}
