{% extends "base.html" %}

{% block head %}
  <title>Select Event</title>
  <script type="module" src="/static/js/eventSelection.js"></script>
{% endblock %}

{% block content %}

<nav class="bg-white shadow-md px-4 py-3 fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto">
    <div class="flex justify-end">
      <div class="hidden md:flex space-x-6" id="nav-menu">
        <a href="/event/selection" class="text-gray-700 hover:text-blue-600">Event Selection</a>
        <a href="/ticket/info" class="text-gray-700 hover:text-blue-600">Cashier</a>
        <a href="/admin/operations" class="text-gray-700 hover:text-blue-600">Operations</a>
      </div>
    </div>
  </div>
</nav>

  {% set card_content %}
    {% set id = "eventDropdown" %}
    {% include "components/select.html" %}

    {% set type = "button" %}
    {% set text = "Select" %}
    {% set id = "eventBtn" %}
    {% include "components/button.html" %}
  {% endset %}

  {% set title = "Select Event" %}
  {% set content = card_content %}
  {% include "components/card.html" %}
{% endblock %}