{% extends "base.html" %}

{% block head %}
<title>Login</title>
<script type="module" src="/static/js/login.js"></script>
{% endblock %}

{% block content %}
  {% set card_content %}
    <form id="loginForm" method="POST" action="{{ api_base_url }}/auth/login" class="space-y-4">
      <div id="errorMessage" class="text-red-600 mb-3"></div>
      <div>
        {% set for = "username" %}
        {% set text = "Username" %}
        {% include "components/label.html" %}

        {% set id = "username" %}
        {% set placeholder = "Username" %}
        {% set required = true %}
        {% include "components/input.html" %}
      </div>
      <div>
        {% set for = "password" %}
        {% set text = "Password" %}
        {% include "components/label.html" %}

        {% set id = "password" %}
        {% set placeholder = "Password" %}
        {% set required = true %}
        {% include "components/input.html" %}
      </div>
      {% set type = "submit" %}
      {% set text = "Login" %}
      {% include "components/button.html" %}
    </form>
  {% endset %}
  {% set title = "Login" %}
  {% set content = card_content %}
  {% include "components/card.html" %}
{% endblock %}
